* {
    margin: 0;
}

#root {
    background-image: url('../images/Brewery-Wallpaper-Download-Free.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    min-height: 100vh;

    h1 {
        padding-left: 2em;
    }

    #landingBackground {
        background-image: url('../images/beer-at-brewery.jpg');
        background-position: center;
        padding: 4em 8em;
        border-radius: 25px;
        #backdrop {
            background-color: rgba(255, 255, 255, 0.4);
            backdrop-filter: blur(4px);
            padding: 4em;
            border-radius: 25px;

        }
    }

    #background {
        padding: 5em;
    }

    nav {
        display: flex;
        justify-content: space-around;
        gap: 2em;
        padding: 0 3em;
    }

    .mapsFrame {
        width: 600px;
        height: 450px;
        flex-shrink: 1;
    }
}



